<div class="user-profile">
    <app-main-nav></app-main-nav>

    <div class="user-profile-container">
        <aside class="user-profile-container-aside">

            <nav class="user-profile-container-aside-nav">

              <div class="user-profile-container-aside-nav-profile wow swing" data-wow-delay=".5s" data-wow-duration="5s">
                <img class="user-profile-container-aside-nav-profile-image" src="{{ userDetails?.avatar ? 'https://secure.gravatar.com/avatar/' + userDetails.avatar.gravatar.hash + '.jpg?s=64' : '../../../assets/images/profile-avatar.jpeg' }}" alt="user" />
                <div class="user-profile-container-aside-nav-profile-info">
                  <h2 class="user-profile-container-aside-nav-profile-info__user-name">Welcome {{ userDetails?.username ? userDetails.username : 'Guest' }}</h2>
                  <p class="user-profile-container-aside-nav-profile-info__user-type">{{ userDetails?.username ? 'TMDB User' : 'Guest' }}</p>
                </div>
              </div>

              <a>
                <button (click)="deleteSession()" class="user-profile-container-aside-nav-log-out wow fadeInUp" data-wow-delay=".5s" data-wow-duration="5s">Log Out</button>
              </a>

            </nav>
        </aside>

        <main class="user-profile-container-main">
            <div class="user-profile-container-main-info">

                <div class="user-profile-container-main-info-item">
                  <svg class="user-profile-container-main-info-item__image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M360 64H152c-22.002 0-40 17.998-40 40v344l144-64 144 64V104c0-22.002-17.998-40-40-40z"/></svg>
                  <p class="user-profile-container-main-info-item-content"><span class="user-profile-container-main-info-item-content__number">{{ favoriteMovies.length }}</span> Favorite Movies</p>
                </div>
  
                <div class="user-profile-container-main-info-item">
                  <svg class="user-profile-container-main-info-item__image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M360 64H152c-22.002 0-40 17.998-40 40v344l144-64 144 64V104c0-22.002-17.998-40-40-40z"/></svg>
                  <p class="user-profile-container-main-info-item-content"><span class="user-profile-container-main-info-item-content__number">{{ favoriteShows.length }}</span> Favorite TV Shows</p>
                </div>
  
                <!-- <div class="user-profile-container-main-info-item">
                  <svg class="user-profile-container-main-info-item__image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z"/></svg>
                  <p class="user-profile-container-main-info-item-content"><span class="user-profile-container-main-info-item-content__number">{this.props.moviesRated.results.length}</span> Rated Movies</p>
                </div>
  
                <div class="user-profile-container-main-info-item">
                  <svg class="user-profile-container-main-info-item__image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z"/></svg>
                  <p class="user-profile-container-main-info-item-content"><span class="user-profile-container-main-info-item-content__number">{this.props.TVRated.results.length}</span> Rated TV Shows</p>
                </div> -->
  
              </div>
        </main>

    </div>

    <app-loader></app-loader>
</div>